<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Added Shop</title>
</head>
<body>

    <h1>You Have Added a Shop</h1>

    <h2>Name:{{newShop.name}}</h2>
    <h2>Rating:{{newShop.rating}}</h2>

    <a href="/shop-list">See all shops</a>
    
</body>
</html>